.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Divider {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
